@import "tailwindcss";

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #111722;
}

::-webkit-scrollbar-thumb {
  background: #232f48;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #324467;
}

@theme {
  --color-primary: #135bec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;

  --font-family-display: "Newsreader", serif;
  --font-family-sans: "Noto Sans", sans-serif;

  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}
